<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand"
       href="#">ERS</a>
      <button class="navbar-toggler" 
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"
       id="navbarNav">
        <ul class="navbar-nav">
          <!--should be able to place the homepage stuff here-->
          <li class="nav-item">
            <a class="nav-link" 
            [routerLink]="['']" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"
             aria-current="page" 
                [routerLink]="['register']" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
            [routerLink]="['login']" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
            [routerLink]="['reset-password']" routerLinkActive="active">Reset Password</a>
          </li>
       
        </ul>
      </div>
  </nav>